@model LevelOne.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderReciveTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderReciveTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderSent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
